/** Generated @ www.fontreactor.com **/
@font-face {
	font-family: 'Poppins-Bold';
    src: url('original_Poppins-Bold.eot?#iefix') format('embedded-opentype'), 
         url('original_Poppins-Bold.woff') format('woff'),
         url('original_Poppins-Bold.ttf') format('truetype'),
         url('original_Poppins-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}